.mediaViewInfo {
    --web-view-name: Survey Page;
    --web-view-id: Survey_Page;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Survey_Page;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
*::before {
    box-sizing: border-box;
}
#Survey_Page {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    --web-view-name: Survey Page;
    --web-view-id: Survey_Page;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Group_5 {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-repeat: no-repeat;
    background-size: cover;
}
.Question_Box {
    position: relative;
    width: 82.77%;
    height: 89.795%;
    left: 8.59375%;
    top: 5.09259%;
    overflow: visible;
    background-image: url('question-card.png');
    background-size: cover;
}
#Heading {
    position: absolute;
    left: 2.9%;
    top: 3.05%;
    overflow: visible;
    width: 94.45%;
    height: 10%;
}
#previous_button {
    position: relative;
    overflow: visible;
    left: 0.3%;
}
#Previous {
    left: 1.2vw;
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    color: rgba(0,0,0,1);
}
#back_arrow {
    position: absolute;
    height: 1.1vw;
    left: 0vw;
    top: 0.55vw;
    overflow: visible;
}
.progressive_bar {
    overflow: visible;
    position: relative;
    top: 3.3vw;
    width: 100%;
    height: 1vw;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.progressive_bar::before{
    content: '';
    overflow: visible;
    display: flex;
    align-items: center;
    position: absolute;
    width: calc(var(--width, 0) * 1%);
    height: 100%;
    background-color: #FE5E00;
    border-radius: 10px;
}
#Question_Container {
    position: relative;
    width: 77%;
    height: 69%;
    left: 11.5%;
    top: 22%;
    overflow: visible;
}
#Question_Title {
    position: absolute;
    overflow: visible;
    white-space: normal;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 2.7vw;
    max-width: 100%;
    width: 100%;
    height: 1000%;
    color: rgba(0,0,0,1);
    letter-spacing: -0.25px;   
    left:50%;
    transform: translateX(-50%);
}
#Option_Container {
    position: relative;
    width: 100%;
    height: calc(92% - 2.7vw);
    top: 6vw;
    overflow: visible;
    display: flex;
    flex-direction: column;
}
.option{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 3vw;
    background-color: rgba(242,191,172,1);
    overflow: visible;
    border-radius: 0.7vw; 
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7vw;
    color: rgba(0,0,0,1);
    letter-spacing: -0.25px;
    margin-bottom: 0.5vw;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1vw;
    padding-right: 1vw;
}
.option:hover {
    background-color: #F28F6B;
}